.sg-arrow {
  transform: scale(1);
}

.sg-arrow.sg-animate {
  transform: scale(1.1);
  opacity: 1;
  transition: transform 50ms linear;
}

.sg-arrow-entering {
  transform: scale(1);
}
.sg-arrow-entered {
  transform: scale(1.1);
  opacity: 1;
  transition: transform 200ms linear;
}
.sg-arrow-exiting {
  opacity: 1;
  transform: scale(1.1);
}
.sg-arrow-exited {
  transform: scale(1);
  transition: transform 200ms linear;
}