@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:before,
:after {
	--tw-content: "";
}

.sg-gallery,
.sg-modal {
  img {
    display: block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }
}
