@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.custom-gallery-layout-1 {
  display: grid;
  grid-gap: 6px;
  grid-template-areas: "A A B"
                       "A A C";

  & > .gallery-item {
    max-width: 100%;

    &:nth-child(1) {
      grid-area: A;
    }

    &:nth-child(2) {
      grid-area: B;
    }

    &:nth-child(3) {
      grid-area: C
    }
  }
}

.custom-gallery-layout-2 { 
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3px;
  align-items: start;
  justify-items: center;

  & > .gallery-item {
    max-width: 100%;

    &:nth-child(2) {
      grid-column: span 3;
      grid-row: span 3;
    }
  }
}
