.sg-gallery-list {
  @media (max-width: 340px) {
    grid-template-columns: repeat(1, minmax(0, 1fr))
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

li {
  font-style: italic;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}